@import "~bootswatch/paper/variables";
@import "bootstrap_custom";
@import "~bootswatch/paper/bootswatch";

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

html,
body,
#app,
.main-layout {
  height: 100%;
  min-width: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
  // background-color: #f7f7f7;
}

.layout-content {
  height: calc(100% - 87px);
}

.jigsaw {
  height: calc(100% - #{$line-height-computed});

  > div {
    height: 100%;
  }
}

.loading {
  z-index: 1900;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(128, 128, 128, 0.1);
  top: 0;
  left: 0;
  cursor: wait;

  & > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#file-select {
  display: none;
}

label[for="file-select"] {
  width: 100%;
  margin-bottom: 0;
}

#board {
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  * {
    user-select: none;
  }

  img {
    padding: 5%;
    object-fit: contain;
    flex-grow: 1;
    max-height: 100%;
  }

  > div {
    position: absolute;
    transition: transform 0.1s ease-out;
  }

  .modal-wrapper {
    height: 100%;
    width: 100%;
    margin-left: -$panel-body-padding;
    margin-top: -$panel-body-padding;

    .modal {
      display: block;
    }

    .modal,
    .modal-backdrop {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
}
